In [90]:
# Задание 1. Напишите функцию, которая классифицирует фильмы из материалов занятия

import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')

def calc_class(row):
    """Классификация по рейтингу"""
    
    rating = row['rating']
    
    if rating <= 2:
        return "low"
    elif rating <= 4 and rating > 2:
        return "middle"
    else:
        return "high"

average_ratings = ratings.groupby('movieId').agg({'rating': 'mean'})

result = movies.merge(average_ratings, on = 'movieId', how = 'left')
result['class'] = result.apply(calc_class, axis=1)
result[['movieId', 'title', 'rating', 'class']].head()

   movieId                               title    rating   class
0        1                    Toy Story (1995)  3.872470  middle
1        2                      Jumanji (1995)  3.401869  middle
2        3             Grumpier Old Men (1995)  3.161017  middle
3        4            Waiting to Exhale (1995)  2.384615  middle
4        5  Father of the Bride Part II (1995)  3.267857  middle

In [89]:
# Задание 2. Необходимо написать гео-классификатор,
# который каждой строке сможет выставить географическую принадлежность определенному региону

def geo_classifier(row):
    """Классификация по геоданным"""
    
    keywords = row['keyword'].split()
    
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    
    for key, value in geo_data.items():
        for city in value:
            if city in keywords:
                return key
    
    return 'undefined'
    
keywords = pd.read_csv('keywords.csv')
keywords['region'] = keywords.apply(geo_classifier, axis=1)

#keywords.head()
keywords[ keywords.region != 'undefined' ].head()

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад